<h1>Drink Index</h1>

<table>
	<tr>
		<th>Name:</th>
	</tr>

	<%= @drinks.each do |drink| %>
		<tr>
			<td><%= drink.name %></td>
			<td><%= link_to 'show', drink_path(drink) %></td>
			<td><%= link_to 'delete', drinks_path(drink),
					method: :delete,
					data: { confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>

</table>