<h1>Drink</h1>

<p>
	<strong>Name:</strong>
	<%= @drink.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @drink.description %>
</p>

<p>
	<strong>Rating:</strong>
	<%= @drink.rating %>
</p>

<%= link_to 'back', drinks_path %>
